In [1]:
# 데이터 준비

import pandas as pd
import numpy as np

samsung_data = pd.read_csv('samsung.csv', encoding='cp949', thousands=',')
samsung_data = pd.DataFrame(samsung_data).sort_index(ascending=False)

samsung_data.head()

             일자     시가     고가     저가     종가       거래량
425  2018-05-04  53000  53900  51800  51900  39565391
424  2018-05-08  52600  53200  51900  52600  23104720
423  2018-05-09  52600  52800  50900  50900  16128305
422  2018-05-10  51700  51700  50600  51600  13905263
421  2018-05-11  52000  52200  51200  51300  10314997

In [2]:
del(samsung_data['일자'])
samsung_data.head()

        시가     고가     저가     종가       거래량
425  53000  53900  51800  51900  39565391
424  52600  53200  51900  52600  23104720
423  52600  52800  50900  50900  16128305
422  51700  51700  50600  51600  13905263
421  52000  52200  51200  51300  10314997

In [3]:
print(samsung_data.iloc[:5, :], samsung_data.iloc[5,3]) # 4번째 열의 6번째 행

        시가     고가     저가     종가       거래량
425  53000  53900  51800  51900  39565391
424  52600  53200  51900  52600  23104720
423  52600  52800  50900  50900  16128305
422  51700  51700  50600  51600  13905263
421  52000  52200  51200  51300  10314997 50100

In [4]:
print(samsung_data.iloc[1:6, :], samsung_data.iloc[6,3])
print(samsung_data.iloc[2:7, :], samsung_data.iloc[7,3])
#.....
print(samsung_data.iloc[420:425, :], samsung_data.iloc[425,3])

# 이런식으로 자르고 중첩해서 (421,5,5) 와 (421,5,1) 데이터를 만든다.

        시가     고가     저가     종가       거래량
424  52600  53200  51900  52600  23104720
423  52600  52800  50900  50900  16128305
422  51700  51700  50600  51600  13905263
421  52000  52200  51200  51300  10314997
420  51000  51100  49900  50100  14909272 49200
        시가     고가     저가     종가       거래량
423  52600  52800  50900  50900  16128305
422  51700  51700  50600  51600  13905263
421  52000  52200  51200  51300  10314997
420  51000  51100  49900  50100  14909272
419  50200  50400  49100  49200  18709146 49850
      시가     고가     저가     종가       거래량
5  60500  62600  60400  62300  15339565
4  61800  61800  60700  60800  14916555
3  59400  59400  58300  58800  23664541
2  59100  59700  58800  59100  16446102
1  58800  58800  56800  57200  20821939 56400

In [5]:
samsung_data=np.array(samsung_data)


x = []
y = []
for i in range(1, 421, +1):
    x_tmp = samsung_data[i:i+5, :]
    y_tmp = samsung_data[i+5,3]
    
    x.append(x_tmp)
    y.append(y_tmp)

In [6]:
x = np.array(x)
y = np.array(y)

In [7]:
x

array([[[   52600,    53200,    51900,    52600, 23104720],
        [   52600,    52800,    50900,    50900, 16128305],
        [   51700,    51700,    50600,    51600, 13905263],
        [   52000,    52200,    51200,    51300, 10314997],
        [   51000,    51100,    49900,    50100, 14909272]],

       [[   52600,    52800,    50900,    50900, 16128305],
        [   51700,    51700,    50600,    51600, 13905263],
        [   52000,    52200,    51200,    51300, 10314997],
        [   51000,    51100,    49900,    50100, 14909272],
        [   50200,    50400,    49100,    49200, 18709146]],

       [[   51700,    51700,    50600,    51600, 13905263],
        [   52000,    52200,    51200,    51300, 10314997],
        [   51000,    51100,    49900,    50100, 14909272],
        [   50200,    50400,    49100,    49200, 18709146],
        [   49200,    50200,    49150,    49850, 15918683]],

       ...,

       [[   62000,    62800,    61700,    62400, 12528855],
        [   62000,    62400,    61200,    61400, 11142693],
        [   60500,    62600,    60400,    62300, 15339565],
        [   61800,    61800,    60700,    60800, 14916555],
        [   59400,    59400,    58300,    58800, 23664541]],

       [[   62000,    62400,    61200,    61400, 11142693],
        [   60500,    62600,    60400,    62300, 15339565],
        [   61800,    61800,    60700,    60800, 14916555],
        [   59400,    59400,    58300,    58800, 23664541],
        [   59100,    59700,    58800,    59100, 16446102]],

       [[   60500,    62600,    60400,    62300, 15339565],
        [   61800,    61800,    60700,    60800, 14916555],
        [   59400,    59400,    58300,    58800, 23664541],
        [   59100,    59700,    58800,    59100, 16446102],
        [   58800,    58800,    56800,    57200, 20821939]]], dtype=int64)

In [8]:
print(x.shape,y.shape)

(420, 5, 5) (420,)

In [ ]:
# 위의 진행 과정을 하나의 객체로 쉽게 해낼 수 있다.

print(x_temp.shape,y_temp.shape)import numpy as np
                # 10, 4
def split_sequence2(seqence, n_steps):
    x,y = list(), list()
    for i in range(len(seqence)):     # 10
        end_ix = i +n_steps           # 0 + 4 = 4 /// 0 + 4
        if end_ix > len(seqence)-2:   # 4 > 10 ??
            break
            
        seq_x, seq_y = seqence[i:end_ix, : ], seqence[end_ix+1, 3]   # x=0,1,2,3 / y=4 
        x.append(seq_x)                                      
        y.append(seq_y)
    return np.array(x), np.array(y)

x,y=(split_sequence2(samsung,5))